.card {
  width: 18rem;
  margin: 15px;
  float: left;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  text-shadow: 1px 1px 1px #000;
  margin: 11px;
  opacity: 0.8;
  line-height: 0;
  padding: 0;
  padding: 3px 10px 10px 10px;
  border-radius: 5px;
}